<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/services">Our Services</a>
      <a href="/contact">Contact Us</a>
    </nav>
    <div class="hero">
      <div class="image-container">
        <img src="/wimg/images (1).png" alt="Gomycode" />
        <div class="overlay-text"><strong>Learn by Making</strong></div>
        <h1>Gomycode,Kenya</h1>
        <p>Get world class education at gomycode.</p>
      </div>
    </div>
  </body>
</html>
