<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/services">Our Services</a>
      <a href="/contact">Contact Us</a>
    </nav>
    <div class="image">
      <img src="/wimg/images (2).jpeg" alt="Gomycode" />
    </div>
    <h1>We offer the following services:</h1>
    <ul>
      <li>Software Development</li>
      <li>Data Science</li>
      <li>UX/UI</li>
      <li>Cyber security</li>
    </ul>
  </body>
</html>
